$base-font-color: #333 !default;
$positive-font-color: #666 !default;
$main-color: #ff6b69;
$font-size-base: 14px !default;
$font-family-base: '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI',
  sans-serif !default;
$line-height-computed: 20px !default;

$content-padding: 15px;

$button-disabled-bg-color: #e1e1e1 !default;

// item.scss
$input-color: #424242 !default;
$input-label-color: #212121 !default;
$border-color: #e2e2e2;
